
{% extends "layout.html" %}
{% block content %}
	{% if userinfo %}
		<issue class="media content-section">
	          <div class="media-body">
	             <a class="mr-2" href="#"> Currently logged in {{ userinfo.FirstName +" "+ userinfo.LastName }} </a>
	             <p> username - {{ userinfo.username }}</p>
	           </div>
	    </issue>
	    {% endif %}
	    {% for i in user %}
	        <issue class="media content-section">
	          <div class="media-body">
	             <a class="mr-2" href="#">  {{ i.FirstName + " "+i.LastName }} </a>
	            <p class="account-content">emailid - {{ i.email }}</p>
	            <p>username - {{ i.username }}</p>
	          </div>
	        </issue>
	    {% endfor %}
{% endblock content %}